@model SingNature.Models.SearchResultsViewModel

@{
    ViewData["Title"] = "Search Results";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/result.css" asp-append-version="true" />
</head>

<div class="search-result-banner">
    <p class="search-text">Search Results for "@Model.Keyword"</p>
</div>
<br>

@if (Model.Species != null && Model.Species.Any())
{
    <div class="result-banner">
        <p class="result-text">Related Species</p>
    </div>
    <table class="details-table">
        <tbody>
            @foreach (var specie in Model.Species)
            {
                <tr>
                    <td class="image-cell">
                        <img src="@specie.ImageUrl" alt="@specie.SpecieName" onerror="this.src='/images/image_placeholder.jpg';">
                    </td>

                    <td class="info-cell">
                        <h4 class="name">@specie.SpecieName</h4>
                        <p class="category">@specie.Category.CategoryName</p>
                    </td>

                    <td class="button-cell">
                        <a href="/Species/SpeciesDetail/@specie.SpecieId" class="btn btn-outline-success">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No species found.</p>
}
<br>

@if (Model.Sightings != null && Model.Sightings.Any())
{
    <div class="result-banner">
        <p class="result-text">Related Sightings</p>
    </div>
    <table class="details-table">
        <tbody>
            @foreach (var sighting in Model.Sightings)
            {
                <tr>
                    <td class="image-cell">
                        <img src="@sighting.ImageUrl" alt="@sighting.SpecieName" onerror="this.src='/images/image_placeholder.jpg';">
                    </td>

                    <td class="info-cell">
                        <h4 class="name">Specie Name: @sighting.SpecieName</h4>
                        <p class="user">Reported by: @sighting.UserName</p>
                    </td>

                    <td class="button-cell">
                        <a href="/Sightings/Details/@sighting.SightingId" class="btn btn-outline-success">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No sightings found.</p>
}
<br>


<a asp-controller="Home" asp-action="Index">Back to Home</a>